@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Updock&display=swap');

.updock-regular {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: bold;
}

* {
    @apply p-0 m-0 box-border text-lg;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl
}

h5 {
    @apply text-xl;
}
