@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Updock&display=swap');


.updock-bold {
  font-family: "Updock", cursive;
  font-weight: 800;
}

* {
    @apply p-0 m-0 box-border text-lg;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl
}

h5 {
    @apply text-xl;
}

body {
    @apply bg-black;
}

.card> div{
    transition: all 0.3s ease-in-out;
}

.card:hover>div:nth-child(1) {
    transform: scale(105%);
}

@media (max-width: 1024px) {
    .logo,.burger {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    nav {
        width: 100%;
        height: 20rem;
        position: absolute;
        top: 4rem;
        right: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #991B1B;
        transition: all 0.3s ease-in-out;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    nav * {
        width: 100%;
    }

    .burger>div {
        transition: all 0.3s ease-in-out;
    }

    .burger.active>div:nth-child(1) {
        transform: rotate(45deg) ;
    }

    .burger.active>div:nth-child(2) {
        display: none;
    }

    .burger.active>div:nth-child(3) {
        transform: rotate(-45deg) translate(0.3rem, -0.4rem);
    }

    nav.active {
        transform: translateX(-150%)
    }
}